<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--爬虫阿里云服务器-->
    <add key="Spider_Mysql_Ali" value="server=jiuweiwang.mysql.rds.aliyuncs.com;User Id=lxb;Password=Lxb123456;port=3309;Database=espider;pooling=false;CharSet=utf8;allowzerodatetime=True;Connection Timeout=90000" />
    <!--爬虫总控Task服务器-->
    <add key="Spider_Mysql_TaskData" value="server=39.108.64.219;User Id=lxb;Password=Lxb123456;port=3309;Database=taskdata;pooling=false;CharSet=utf8;allowzerodatetime=True;Connection Timeout=90000" />
    <!--爬虫并发个数-->
    <add key="Spider_Action_LssNum" value="1" />
    <!--爬虫接收信息邮箱-->
    <add key="Spider_Action_Email" value="lxb@jiuweiwang.com" />
    <!--爬虫任务起始Id-->
    <add key="Spider_Action_StartNum" value="1" />
    <!--爬虫任务结束Id-->
    <add key="Spider_Action_EndNum" value="2" />
    <!--爬虫任务每次并发后休息时间，单位：秒-->
    <add key="Spider_Action_SleepTime" value="0" />
    <!--爬虫程序所在虚拟机IP，本地默认192.168.1.1-->
    <add key="Spider_Action_Ip" value="192.168.1.1" />
    <!--爬虫请求模板-->
    <add key="Spider_Action_Tab" value="allinfo" />
    <!--爬虫请求模板标志符，用于模板变化的时候使用-->
    <add key="Spider_Action_TabFlg" value="$1" />
    <!--爬虫任务文件存储盘符-->
    <add key="Spider_Action_PathSign" value="E:\\爬虫测试样本数据\\文件下载" />
    <!--爬虫任务图片下载存储盘符-->
    <add key="Spider_Action_ResourcesPathSign" value="E:\\爬虫测试样本数据\\图片下载" />
    <!--爬虫任务账号起始Id-->
    <add key="Spider_Action_StartCk" value="1" />
    <!--爬虫任务账号结束Id-->
    <add key="Spider_Action_EndCk" value="2000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>